
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
  <body>


<div class="container">
      <form action="/table1" method="get">
		  Players Per Country In Each League <input type="submit" value="Go" > 
      </form>	
	  <form action="/goal" method="get">
		  Goals Per Country In Each League <input type="submit" value="Go" > 
      </form>
	  <form action="/topscorers" method="get">
		  Top 10 Scorers In European Football <input type="submit" value="Go" > 
      </form>
	
</div>
	
	
	</body>

</html>